<!-- Example of Product List -->
<div class="product__list">
    <div class="product__item" *ngFor="let product of products">
        <img class="product__item-image" [src]="product.image" alt="Product Image" />
        <div class="product__item-name">{{ product.name }}</div>
        <div class="product__item-category">{{ product.category }}</div>
        <div class="product__item-price">{{ product.price | currency }}</div>
        <button class="product__item-remove" (click)="removeProduct(product.id)">Remove</button>
    </div>
</div>

<!-- Form to Add Product -->
<div class="product__form">
    <h3 class="product__form-title">Add Product</h3>
    <div class="product__form-inputs">
        <input class="product__form-input" [(ngModel)]="newProduct.name" placeholder="Name" />
        <input class="product__form-input" [(ngModel)]="newProduct.category" placeholder="Category" />
        <input class="product__form-input" [(ngModel)]="newProduct.price" type="number" placeholder="Price" />
        <input class="product__form-input" [(ngModel)]="newProduct.image" placeholder="Image URL" />
    </div>
    <button class="product__form-button" (click)="addProduct()">Add Product</button>
</div>
